{% extends 'layouts/base.html' %}

{% block title %} REGISTRATION {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
   
<div class="container-fluid py-4">

  <div class="row mt-4">
    <div class="col-lg-12 col-sm-12 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <form role="form">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">SEGMENT</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option value="TRUCK">TRUCK</option>
                    <option value="TIPPER">TIPPER</option>
                    <option value="TRACTOR">TRACTOR</option>
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">TONNAGE</label>
                  <select class="form-control" id="exampleFormControlSelect2">
                          <option value="14T">14T</option>
                          <option value="16T">16T</option>
                          <option value="19T">19T</option>
                          <option value="26T">26T</option>
                          <option value="28T">28T</option>
                          <option value="30T">30T</option>
                          <option value="31T">31T</option>
                          <option value="33T">33T</option> 
                          <option value="35T">35T</option>
                          <option value="37T">37T</option>
                          <option value="40T">40T</option>
                          <option value="42T">42T</option>
                          <option value="44T">44T</option>
                          <option value="46T">46T</option>
                          <option value="48T">48T</option>
                          <option value="49T">49T</option>
                          <option value="52T">52T</option>
                          <option value="55T">55T</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="example-vc-input" class="form-control-label">VC NO</label>
                    <input class="form-control" type="text" value="12345678R" id="example-vc-input">
                </div>
                <div class="form-group">
                    <label for="example-proj-input" class="form-control-label">PROJECT</label>
                    <input class="form-control" type="text" value="BS6 SIGNA 19T" id="example-proj-input">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect3">AREA</label>
                  <select class="form-control" id="exampleFormControlSelect3">
                    <option value="">SELECT</option>
                    <option value="CABIN">CABIN</option>
                    <option value="ENGINE">ENGINE</option>
                    <option value="CHASSIS">CHASSIS</option>
                    <option value="GEARBOX">GEARBOX</option>
                    <option value="FLASHING">FLASHING</option>
                    <option value="FAULT CODE-ENGINE,ABS,VECU">FAULT CODE-ENGINE,ABS,VECU</option>
                    <option value="FIELD ISSUE">FIELD ISSUE</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect4">SUB AREA</label>
                  <select class="form-control" id="exampleFormControlSelect4">
                    <option value=" ">SELECT</option>
                    
                  </select>
                </div>
                
                <div class="form-group">
                    <label for="example-datetime-local-input" class="form-control-label">Start Date</label>
                    <input class="form-control" type="date" value="2018-11-23" id="example-statrt-date-input">
                </div>
                <div class="form-group">
                    <label for="example-date-input" class="form-control-label">End Date</label>
                    <input class="form-control" type="date" value="2018-12-23" id="example-end-date-input">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Concern/Issue</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
              
                <div class="form-group">
                  <label for="exampleFormControlTextarea2">Resolution</label>
                  <textarea class="form-control" id="exampleFormControlTextarea2" rows="4"></textarea>
                </div>
              
                <div class="form-group">
                  <label for="exampleFormControlSelect5">SEVERITY</label>
                  <select class="form-control" id="exampleFormControlSelect5">
                    <option value="MINOR">MINOR</option>
                    <option value="MAJOR">MAJOR</option>
                    <option value="CRITICAL">CRITICAL</option>
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect6">STATUS</label>
                  <select class="form-control" id="exampleFormControlSelect6">
                    <option value="OPEN">OPEN</option>
                    <option value="WIP">WIP</option>
                    <option value="CLOSED">CLOSED</option>
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="example-raiser-input" class="form-control-label">RAISED BY</label>
                  <input class="form-control" type="text" value="kowlesh" id="example-raiser-input">
                </div>
                <div class="form-group">
                  <label for="example-raise-date-input" class="form-control-label">RAISED DT</label>
                  <input class="form-control" type="date" value="2018-11-23" id="example-raise-date-input">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


      {% include "includes/footer.html" %}

</div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#575f9a",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    var lookup = {
   'CABIN': ['CLUSTER', 'VECU', 'W/H','ABS ECU', 'AC', 'LAMPS'],
   'ENGINE': ['ECU', 'STARTER MOTOR','ALTERNATOR', 'SENSOR','W/H'],
   'CHASSIS': ['ECU', 'BATTERY CABLES','BATTERY', 'LAMPS','W/H'],
   'GEARBOX': ['AMT','SENSOR/SWITCH', 'CONTROLS','W/H'],
   'FLASHING': ['VEHICLE DATA AVAILIBILITY', 'APPROVED BY EOL MANAGER','DATA FLOW DATE'],
   'FAULT CODE-ENGINE,ABS,VECU': ['ECU TYPE','FILL ERROR CODE','DESCRIPTION AND ACTION'],
   'FIELD ISSUE': ['RESOLVED OVER CALL','ADDRESSED AT SITE'],
};

// When an option is changed, search the above for matching choices
$('#exampleFormControlSelect3').on('change', function() {
   // Set selected option as variable
   var selectValue = $(this).val();

   // Empty the target field
   //$('#choices').empty();
   
   // For each chocie in the selected option
   for (i = 0; i < lookup[selectValue].length; i++) {
      // Output choice in the target field
      $('#exampleFormControlSelect4').append("<option value='" + lookup[selectValue][i] + "'>" + lookup[selectValue][i] + "</option>");
   }
});

  </script>

{% endblock javascripts %}
